// Body
$body-bg: #ccc;

// Typography
$fontFamily: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji";
$font-size-base: 1.6rem;
$line-height-base: 1.2;

//fz small 14, основной 16, на слайдере 36, заголовки 32, цена 28, скидка 18, преимущества 24,


// Colors
$colorText: #333333;
$colorBtn: #b63334;
$grey: #808080;
$greyExtraLight: #f7f7f7;
$greyLight: #ededed;

// Colors
//$blue: #3490dc;
//$indigo: #6574cd;
//$purple: #9561e2;
//$pink: #f66d9b;
//$red: #e3342f;
//$orange: #f6993f;
//$yellow: #ffed4a;
//$green: #38c172;
//$teal: #4dc0b5;
//$cyan: #6cb2eb;
